<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beat the King</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='tictactoe.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.1.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/d3.v4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/utilities.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/tictactoe/Game.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/tictactoe/Player.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/tictactoe/Square.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/tictactoe/Board.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/tictactoe/main.js') }}"></script>
</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="{{url_for('index')}}">Home</a></li>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Player</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{url_for('new')}}">Player</a>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Games</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{url_for('tictactoe')}}">Tic Tac Toe</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %} 
    {% endblock %}
  </body>
</html>